{% extends 'base.html.twig' %}

{% block title %}Mon site!{% endblock %}

{% block body %}
    <style>
        h1 {
            text-align: center;
        }
    </style>
<h1>ADJA AIDA NDIAYE FALL GROUP TP B2</h1>
<p>I'm 19 years old. I come from SENEGAL in Africa and I actually live in FRANCE most exactly in Saint-Etienne.</p>
<p> I'm currently a freshman pursuing a bachlor degree in Networks and Telecommunications at the technology university of Roanne in FRANCE. </p> 
<p> At the moment, I’m mainly focused on learning the basics of networking.How to set up and manage networks, as well as understanding the fundamentals of security. I’m really interested in how networks connect devices and help build the digital infrastructure we rely on every day. While I’m still in the early stages of my studies, I’ve already gained a solid understanding of telecommunications and how communication systems work. I’m excited to continue learning and improving my skills, and I look forward to exploring both fields in more depth. Outside of my studies, I enjoy tinkering with technology and keeping up with the latest trends in networking and tech.</p>
 <div class="container">
            <!-- Section Pour en savoir plus -->
            <div class="alert alert-info text-center mt-5" role="alert">
                <p>Découvrez mes loisirs, mes passions, mes projets et bien plus encore !</p>
                <!-- Lien vers une autre page (ex: loisirs) -->
                <a class="nav-link" href="/more">Pour en savoir plus</a>
            </div>
{% endblock %}