{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
   
<h1>ADJA AIDA NDIAYE FALL GROUPE B2</h1>
<p> Je suis étudiante en première année BUT Réseaux & Télécommunications à l'IUT de Roanne en FRANCE. </p> 

 <div class="container">
            <!-- Section Pour en savoir plus -->
            <div class="alert alert-info text-center mt-5" role="alert">
                <p>Découvrez mes loisirs, mes passions, mes projets et bien plus encore !</p>
                <!-- Lien vers une autre page (ex: loisirs) -->
                <a class="nav-link" href="/more">Pour en savoir plus</a>
            </div>
{% endblock %}