<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon site!{% endblock %}</title>
        <link rel= "stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
        {% block stylesheets %}
        {% endblock %}

    

    </head>
    <body>
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-uppercase fs-7" href="/home">Choix de parcours</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarColor01">
            <ul class="navbar-nav w-100 d-flex justify-content-evenly text-center">
                <li class="nav-item">
                    <a class="nav-link text-white text-uppercase fs-7" style="letter-spacing: 1px;" href="/adja">E-portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-uppercase fs-7" style="letter-spacing: 1px;" href="/more">À améliorer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-uppercase fs-7" style="letter-spacing: 1px;" href="/awa">Mon CV</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


        
        {% block body %}{% endblock %}
        </div>
        <footer class="bg-dark text-white text-center py-3 mt-5">
    <p>&copy; {{ "now"|date("Y") }} MonSite.com - Tous droits réservés.</p>
    <p>Le contenu de ce site est protégé. Toute reproduction est interdite sans l'autorisation préalable.</p>
    <p>
        <a href="/conditions" class="text-white">Conditions d'utilisation</a> |
        <a href="/confidentialites" class="text-white">Politique de confidentialité</a>
    </p>
</footer>

    {% block javascripts %} {% endblock %}    
    </body>  
</html>
