{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mon site!</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
    </head>
    
    <body>
        

        <div class="container">
            <h2 class="text-center mt-5">Mes Loisirs </h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/id/1339845062/fr/photo/int%C3%A9rieur-de-la-salle-de-lecture-ou-de-la-biblioth%C3%A8que-avec-fauteuil-en-cuir-%C3%A9tag%C3%A8re-et.webp?s=1024x1024&w=is&k=20&c=NRG9TmjaGKxzAo7uMRPMQfLAfzAS45uOF5v5RGt8f_0=" class="img-fluid" alt="Image 1">
                    <p>Lecture</p>
                </div>
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/id/1567196149/fr/photo/main-stylo-et-%C3%A9criture-dans-un-cahier-avec-une-femme-daffaires-assise-%C3%A0-un-bureau-dans-son.webp?s=1024x1024&w=is&k=20&c=704ewUtBCF5TNvpXFG8zSw212gwRXOFNcPX0bjdraLA=" class="img-fluid" alt="Image 2">
                    <p>Ecriture</p>
                </div>
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/id/1255236230/fr/photo/corps-esprit-%C3%A2me-esprit.webp?s=1024x1024&w=is&k=20&c=2T2nrgSuZaLjjR0Km2wvTCGr3g4PLBZDnXr7vlVF8Oc=" class="img-fluid" alt="Image 3">
                    <p>Méditation</p>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}